nav {
  align-items: flex-end;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  height: 120px;
  padding: 0 36px 22px 36px;
  position: fixed;
  width: 100%;
}

.logo {
  font-family: "Bungee", sans-serif;
  font-size: 45px;
}

.make-new-tweet {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Source Sans 3", sans-serif;
  font-size: 24px;
}

.logo,
.make-new-tweet {
  background-color: #4056a1;
  border-radius: 7px;
  padding: 10px;
}

.make-new-tweet i {
  color: #f73900;
}

@media screen and (min-width: 768px) {
  nav {
    background-color: #4056a1;
  }

  .logo,
  .make-new-tweet {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}