.new-tweet {
  display: none;
  margin-bottom: 50px;
}

.input-error {
  background-color: #ff2f1a;
  color: white;
  display: none;
  font-weight: 600;
  justify-content: center;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
}

.submit-tweet {
  display: flex;
  font-family: "Bungee", sans-serif;
  font-size: 24px;
  justify-content: space-between;
  margin-top: 18px;
}

.submit-tweet button {
  background-color: #4056a1;
  border: none;
  color: #fff;
  height: 42px;
}

.invalid {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form label {
  font-weight: 600;
  margin-bottom: 12px;
}

form textarea {
  background-color: inherit;
  border: none;
  border-bottom: 4px solid;
  border-color: #545149;
  font-size: 24px;
  outline: none;
  resize: none;
}